<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="fyicon.ico"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飞扬报修系统</title>
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
</head>

<body>
<input type="hidden" id="token" value="@#$_GET['token']#@">
 <div class="navbar navbar-fixed-bottom navbar-inverse" role="navigation">
       <div class="container">   
          <ul class="nav nav-pills">
            <li class="active"><a href="__APP__/Home/Index/index?token=@#$_GET['token']#@">飞扬报修</a></li>
            <li><a href="__APP__/Home/IndexPage/order?token=@#$_GET['token']#@">查看订单</a></li>
            <li><a href="__APP__/Home/AccountPage/logout">退出</a></li>
          </ul>
       </div>
    </div>
    
<div class="container">
  <br>
    <form class="form-info">
      <p class="text-warning">修改信息</p>
      <input type="hidden" name="weixin_key" value="@#$_GET['weixin_key']#@" />
      <p>姓名：
        <input class="form-control" type="text" name="name" value="@#$user.name#@" id="user_name" placeholder="请输入姓名"/>
        <div id="error_name" class="text-danger"> ！请输入姓名</div>
      </p>
      <p>手机号码：
        <input class="form-control" type="tel" value="@#$user.phone#@" name="phone" id="user_phone" placeholder="请输入电话"/>
        <div id="error_phone" class="text-danger"> ！请输入有效号码</div>
      </p>
      <p>
        <button class="btn btn-lg btn-primary btn-block" type="button" name="button" id="reset">确定</button>
      </p>
    </form>
</div> <!-- /container -->

<script type="text/javascript">
$(document).ready(function(){
  var token=$("#token").val();
  $("#error_name").hide();
  $("#error_phone").hide();
  $("body").keydown(function() {
    if (event.keyCode == "13"){
      var name_value=$("#user_name").val();
      var phone_value=$("#user_phone").val();
      if(name_value==""){
        $("#error_name").show();
      }
      if(!phone_value.match(/^0?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/)){
        $("#error_phone").show();
      }
      if(name_value!="" && phone_value.match(/^0?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/)){
        //若均填写隐藏提示信息
        $("#error_name").hide();
        $("#error_phone").hide();
        $("#reset").text('处理中..');
        //alert(name_value);return;
        $.post("__APP__/Home/Handle/set?token="+token, {name:name_value,phone:phone_value},function(data){
          if(data.status==0){
            //alert('提交失败,请稍后再试');
            $("#reset").text('修改失败,请重试');
            document.location.reload("__APP__/Home/IndexPage/set?token="+token);
          }else{
            //alert('修改成功！');
            $("#reset").text('修改成功,跳转中..');
            window.location.href="__APP__/Home/Index/index?token="+token;
          }
        });
      }
    }
  });

  $("#reset").on("click",function(){
      var name_value=$("#user_name").val();
      var phone_value=$("#user_phone").val();
    if(name_value==""){
      $("#error_name").show();
    }
    if(!phone_value.match(/^0?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/)){
      $("#error_phone").show();
    }
    if(name_value!="" && phone_value.match(/^0?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/)){
      //若均填写隐藏提示信息
      $("#error_name").hide();
      $("#error_phone").hide();
      $("#reset").text('处理中..');
      $.post("__APP__/Home/Handle/set?token="+token, {name:name_value,phone:phone_value},function(data){
        if(data.status==0){
          $("#reset").text('修改失败,请重试');
          document.location.reload("__APP__/Home/IndexPage/set?token="+token);
        }else{
          $("#reset").text('修改成功,跳转中..');
          window.location.href="__APP__/Home/Index/index?token="+token;
        }
      });
    }
  });
});
</script>
</body>
</html>
